@import url('https://fonts.googleapis.com/css2? family = Padauk & display = swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #181818;
}
/* .contenedor{
   
   min-width: 800px;
   min-height:1200px;
} */
  
.contenedor .header{
   display: grid;
   grid-column: 1/6;
   grid-row: 1/2;
   background-image: url(../imagen/header2.jpg);
   background-size: cover;
   background-position: center;
   height: 250px;
   min-width: 800px;
   color: #fff;

}
.header h1{
   color: #DEE2E6;
   padding-left:  45px;;
}
.header img{
   width: 200px;
   height: 200px;
   margin-top: 10px;
   margin-left: 100px;
   border-radius: 10px;
}
.header .nav{
   float: right;
   margin-top: 50px;
   margin-right: 100px;
}
   
.header .nav li{
   list-style: none;
   padding: 20px;
   flex: auto;
   }
.nav ul{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -40px;
}
a{
   text-decoration: none;
   color: white;
}
li:hover a{
   color: violet;
}
  
.main{
   margin: 80px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 30px;
}
.main > article{
   background: transparent;
   border: none;
   box-shadow: 2px 2px 6px 0px rgba(77, 73, 73, 0.945);
   color: rgb(231, 216, 216);
   text-align: center;
   width: 250px;
   height: 500px; 
   transition: transform .3s;
   display: flex;
   flex-direction: column;
     
   justify-content: space-between;
      
}
.main > article:hover{
   transform: translateY(5px);
   box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.main > article img{
   width: 100%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.text{
   padding: 0 20px 20px;
}
.text h3{
   text-transform: uppercase;
}
.text button{
   background: #212529;
   border-radius: 20px;
   border: none;
   color: #fff;
   padding: 10px;
   width: 100%;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
}

.contenedor .footer{
   grid-column: 6/6;
   grid-row: 7/6;
   min-width: 800px;
   height: 200px;
   background-color: #272525; 
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
} 
  /* productos */
.section{
   display: grid;
   grid-template-columns: repeat(auto-fit, 280px);
   grid-template-rows: 1fr;
   grid-gap: 1em;
   margin-top: 60px;
}
.producto{
   max-width: 280px;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   border-radius: 6px;
   box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
   background-color: rgb(255, 255, 255);
   cursor: pointer;
   transition-property: box-shadow;
   transition-duration: 0.3s;
}
.producto:hover{
   box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2)
}
.producto > img{
   width: 100%;
   object-fit: cover;
}
.informacion{
   border-top: 1px solid rgb(230, 230, 230);
   padding: 1em;
   display: flex;
   flex-flow: column;
}
.informacion * + *{
   margin-bottom: 0.5em;
}
.tipo-envio{
   background-color: rgb(52, 131, 250);
   color: rgb(255, 255, 255);
   font-weight: 600;
   max-width: max-content;
   padding: 0 0.2em;
   border-radius: 3px;
}
.precio{
   font-size: 1.5em;
}
.precio-envio{
   color: rgb(0, 166, 80);
}
.discripcion, .ubicacion{
   font-weight: 300;
}
.precio-envio, .descipcion, .ubicacion{
   font-size: 0.9em;
}
/* galeria */
.grid-item{
   background-color: aqua;
   border-radius: 4px;
   transition: tramsform 0.3s ease-in-out;
   border: solid 1px rgb(255, 255, 255);

}
.grid-item:hover{
   filter: opacity(0.9);
   transform: scale(1.04);
}
.grid-cotainer{
   margin-top: 40px;
   display: grid;
   min-height: 900px;
   min-width: 800px;
   grid-template-columns: repeat (auto-fill, minmax(240px, 1fr));
   gap: 20px;
   padding: 20px;
}
.item1{
   grid-column: 1/2;
   grid-row: 1/3;
   background-image: url(../imagen/conjuntohombre4.jpg);
   background-size: cover;
   background-position: center;
}
.item2{
   grid-column : 2/3;
   grid-row: 1/2;
   background-image: url(../imagen/conjuntohombre5.jpg);
   background-size: cover;
   background-position: center;
}
.item3{
   grid-column: 4/5;
   grid-row: 1/3;
   background-image: url(../imagen/conjuntomujer3.jpg);
   background-size: cover;

}
.item4{
   grid-column: 2/3;
   grid-row: 2/4;
   background-image: url(../imagen/conjuntomujer4.jpg);
   background-size: cover;
   background-position: center;
}
.item5{
   grid-column: 4/5;
   grid-row: 3/4;
   background-image: url(../imagen/zapatillahombre.jpg);
   background-size: cover;
   background-position: center;
}
.item6{
   grid-column: 4/5;
   grid-row: 2/3;
   background-image: url(../imagen/zapatillahombre2.jpg);
   background-size: cover;
   background-position: center;
}
.item7{
   grid-column: 1/2;
   grid-row: 3/5;
   background-image: url(../imagen/zapatillamujer.jpg);
   background-size: cover;
   background-position: center;
}
.item8{
   grid-column: 3/4;
   grid-row: 3/4;
   background-image: url(../imagen/zapatillasdeportivasparamujer.jpg);
   background-size: cover;
   background-position: center;
}
.item9{
   grid-column: 3/4;
   grid-row: 1/3;
   background-image: url(../imagen/vans4.jpg);
   background-size: cover;
   background-position: center;
}
   /* nosotros */
.main1{
  margin-top: 70px;
   display: grid;
   min-width: 1200px;
   min-height: 800px;
   grid-template-columns: 1fr 1fr;

}
.nosotros h2{
   display: flex;
   text-align: center;
   justify-content: center;
   color: rgb(202, 150, 150);
   font-size: 50px;
   background-color: rgb(92, 55, 55);
   height: 100px;
}
.nosotros p{
   display: flex;
   text-align: center;
   justify-content: center;
   background-color: rgb(94, 16, 16);
}
.nosotros p h2{
   min-width:500px;

}

.local h2{
   height: 500px;
   min-width: 800px;
   border-radius: 5px;
   margin: 1rem;
   display: flex;
   text-align: center;
   justify-content: center;
   color: rgb(243, 200, 200);
   background-image: url(../imagen/local.jpg);
   background-position: center;
   background-size: cover;
}
/* .p{
   color:#fff;
   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
} */


/* .main1{
   display: grid;
   grid-template-columns: 1fr 1fr;
   }
.main1 h2{
   margin-left: 10px;
   text-align: center;
   font-size: 35px;
   margin-top: 60px;
}
.main1 img{
   grid-column: 2/3;
   width: 500px;
   height: 500px;
   margin-left: 50%;
}
.main1 .nosotros p{
   grid-column: 1/2;
   margin-right: 50%;
   font-family: cursive; 
}
.main1 .img1 {
   grid-column: 2/3;
   width: 500px;
   height: 500px;
   margin-left: 50%;
}
.main1 .nosotros1 p{
   grid-column: 1/2;
   margin-right: 50%;
   font-family: cursive;
} */
  /* contacto */
.contenido{
   min-height: auto;
   max-width: 1170px;
   margin-top: 60px;
}
.logo{
   text-align: center;
   font-size: 3em;
   font-family: 'Padauk', sans-serif;;
}
.logo span{
   color: #b70e21;
   font-family: 'Padauk', sans-serif;;
}
.contact-wrapper{
   box-shadow: 0 0 20px rgba(255, 255, 255, .3);
}
.contact-wrapper > *{
   padding: 1em;
}
.contact-form{
   background-color: #222222;
  
}
h3{
   color: #fff;
   margin-bottom: 10px;
   
}
.form .p{
   color: #fff;
  display: grid;
   grid-template-columns: 1fr 1fr;
}  
.form .block{
   color: #fff;
   grid-column: 1/3;
}

.form button,
.form input,
.form textarea{ 
   width: 100%;
   padding: .7em;
   border: none;
   background: none;
   outline: 0;
   color: #fff;
   border-bottom: 1px solid #d63031;
} 
.form button{
   background-color: #b70e21;
   color: #fff;
   text-transform: uppercase;
   padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus{
   background-color: #d63031;
   color: #fff;
   transition: background-color 1s ease-out ;
   outline: 0;
}
.contact-info{
   background-color: rgb(22, 21, 21);
}

.contact-info h4,
.contact-info ul,
.contact-info p{
   color: #fff;
   text-align: center;
   margin: 0 0 1rem 0;
}
.contact-info ul{
   list-style: none;
   padding: 0;
}
.contact-info ul li{
   padding: .3em;
}
@media screen and (min-width: 380px) and (max-width:780px){
     .header{
        grid-column:1/3; 
        grid-row: 1/2; 
      }
     .main1{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-wrap: wrap;
     }
     .footer{
       grid-column:1/3 ;
       grid-row: 3/4;
      }
   }


@media screen and (max-width:610px) and (max-width: 480px){
   .header{
      grid-column: 1/6;
      grid-row: 1/2;
      width: 100%;
   }
      
   .main{
      grid-column: 1/3;
      grid-row: 2/4;
      display: flex;
      flex-wrap: wrap;
   }
   .footer{
      grid-column: 6/6;
      grid-row: 7/6;
      width: 100%;
   }
       
       
}
@media screen and (min-width: 700px){
   .contact-wrapper{
      display: grid;
      grid-template-columns: 2fr 1fr;
   }
   .contact-wrapper > *{
      padding: 2em;
   }
   .contact-info h4,
   .contact-info ul,
   .contact-info p{
      padding: 1em;
   }
}
